<% layout('layouts/boilerplate')%>
<div class="container">
    <div class="row">
        <h1 class="text-center">Edit Product</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds/<%=product._id%>?_method=PUT" method="post" novalidate class="validated-form"
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" value="<%=product.title%>"
                        name="product[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" value="<%=product.location%>"
                        name="product[location]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">&#8377;</span>
                        <input type="text" class="form-control" value="<%=product.price%>" placeholder="0.00"
                            aria-describedby="price-label" name="product[price]" id="price" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="images" class="form-label">Add Images </label>
                    <input class="form-control" type="file" id="images" name="image" multiple>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="product[description]"
                        required><%=product.description%></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        <% product.images.forEach(function(img, i) {  %>
                            <div class="card" style="width: 18rem;">
                                <img crossorigin="anonymous" class="card-img-top" src="<%=img.thumbnail%>" alt="Card image cap">
                                <div class="card-body">
                                    <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                                    <label for="image-<%=i%>">Delete?</label>
                                </div>
                              </div>
                        <% })%>
                    </div>
                </div>
                <button class="btn btn-success mt-1">Make Changes</button>
            </form>
            <div>
                <a href="/campgrounds/<%=product._id%>" class="btn btn-primary mt-3">Back to Campground</a>
            </div>
        </div>
    </div>
</div>